In [1]:
number=[1,2,3,4]

In [2]:
number

[1, 2, 3, 4]

In [3]:
print(type(number))

<class 'list'>

In [4]:
student=[4,"Aniket",99.95]

In [5]:
student

[4, 'Aniket', 99.95]

In [6]:
print(student[1])

Aniket

In [7]:
student.append(number)

In [8]:
student

[4, 'Aniket', 99.95, [1, 2, 3, 4]]

In [10]:
student.insert(2,"open")

In [11]:
student

[4, 'Aniket', 'open', 99.95, [1, 2, 3, 4]]

Home Work 10/08

In [11]:
list1=[1,"Saurabh",99.5,2,"Aniket",88.2,2,"Pratik",11,99.8,"shivraj",15,22.05,"Loku",14]
i=input("Enter a record")
if i in list1:
    print("Yes")
else:
    print("No")

Enter a record2
No

In [5]:
a=10
b=20
c=30
a=b
b=c
c=a

In [6]:
a

20

In [7]:
b

30

In [8]:
c

20

In [7]:
list2=["Saurabh",2,99.5,"Aniket",45,55.2]
word=input("Enter location")
for i in list2:
    if i==word:
        print(i)
    else:
        print("No")

Enter location3
No
No
No
No
No
No

In [26]:
list1=[1,"Saurabh",99.5,2,"Aniket",88.2,2,"Pratik",11,99.8,"shivraj",15,22.05,"Loku",14]
search=input("Enter a record")
flag=0
for i  in list2:
    if i==search:
        print(i)
        flag=0
        break
    else:
         flag=1



if flag==1:
    print("Not Found")

Enter a recordSaurabh
Saurabh