# Data Types

there are 3 basic data type in python
1 Integer
2 Float
3 boolean

In [1]:
a=2   #Integer
b=2.2   #Float
c="str"  #string
d=True   #boolean

Python is dynamic casting launages like javascrip. so no need to specify data type

In [5]:
print(type(a))

<class 'int'>

In [6]:
print(type(c))

<class 'str'>

In [7]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
a+b

4.2

In [9]:
a+c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
e="srt2"

In [11]:
c+e

'strsrt2'

C & E both are same & Concate.

User Input

In [28]:
one=input("Enter value of one")
two=input("Enter value of two")

Enter value of one10
Enter value of two20

In [29]:
one+two

'1020'

In [30]:
print(type(one))

<class 'str'>

In [31]:
one=int(input("Enter value of one"))
two=int(input("Enter value of two"))

Enter value of one10
Enter value of two20

In [32]:
one+two

30

# Home Work

In [1]:
name=input("Enter a name ")
age=input("Enter your age")
weight=input("Enter weight")
python=input("Enter Yes or no")

Enter a name Saurabh
Enter your age20
Enter weight43
Enter Yes or noYes

In [2]:
name

'Saurabh'

In [5]:
name=str(name)

In [6]:
print(type(name))

<class 'str'>

In [7]:
print(type(age))

<class 'str'>

In [9]:
age=int(age)

In [10]:
print(type(age))

<class 'int'>

In [11]:
weight=int(weight)

In [12]:
print(type(weight))

<class 'int'>

In [13]:
python=bool(python)

In [14]:
print(type(python))

<class 'bool'>

# Area Of Circle

In [1]:
pi=float("3.14")
r=float(input("Enter a value of r"))

Enter a value of r2

In [3]:
area=pi*r*r

In [4]:
area

12.56

# Home Work 6/8/20

1.Arithmetic operation

In [1]:
a=9
b=4

In [3]:
add=a+b
sub=a-b
mul=a*b
divl=a/b
div2=a//b
mod=a%b
p=a**b

In [4]:
print(add)
print(sub)
print(mul)
print(divl)
print(div2)
print(mod)
print(p)

13
5
36
2.25
2
1
6561

2.Relational operators

In [5]:
a=13
b=33

In [6]:
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

3.Logical Operators

In [7]:
a=True
b=False

In [8]:
print(a and b)
print(a or b)
print(not a)

False
True
False

4.Bitwise Operators

In [9]:
a=10
b=4

In [10]:
print(a & b)
print(a | b)
print(~ a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

6.Special operators

In [14]:
a1=3
b1=3
a2='GeeksforGeeks'
b2='GeeksforGeeks'
a3=[1,2,3]
b3=[1,2,3]

In [15]:
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

Membership operators

In [17]:
x='Geeks for Geeks'
y={3:'a',4:'b'}

In [18]:
print('G' in x)
print('geeks' not in x)
print('Geeks'not in x)
print(3 in y)
print('b' in y)

True
True
False
True
False